<!doctype html>
<html>
<head>
    <title>myOptique Metrics</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Tue 27th Jun</h1>

    <div><span>Tech</span></div>
    <div><span>SEO</span></div>
    <div><span>CRM</span></div>

    <div><span>Finance</span></div>
    <div><span>Products</span></div>
    <div><span>Warehouse</span></div>

    <h2>Customer Service</h2>

    <div><span>GD</span></div>
    <div><span>SGS</span></div>
    <div><span>EWB</span></div>
</body>
</html>
